* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background-color: rgb(87, 77, 154);
}

.kick-pad.active {
  background-color: rgb(117, 100, 244);
}

.snare-pad {
  background-color: rgb(214, 89, 89);
}

.snare-pad.active {
  background-color: rgb(204, 56, 56);
}

.hihat-pad {
  background-color: rgb(85, 171, 202);
}

.hihat-pad.active {
  background-color: rgb(39, 191, 246);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background-color: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  margin-top: 3rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
}

select {
  padding: 1rem;
  font-size: 1rem;
}
